.tdNegative {text-align:right; background-color:#FF4444;}
.tdNONegative {text-align:right;}
.tr_total {background-color:#BBBBBB;}
.tableBorder {border-spacing:0px; border-collapse:collapse;} 
.tableBorder TBODY TR TD {padding:2px; border-style:solid; border-width:1px; border-color:#000000;}
.tableBorder TBODY TR TH {padding:2px; border-style:solid; border-width:1px; border-color:#000000;} 
img {border-width:0;}
.tableBorder TBODY TR:hover TD {background-color:#FBFBFB;}
.width_td {width:10%;}
.tableBorderAdd TBODY TR TD {padding:0px;}
.add_row {border-width:0px; border-collapse:collapse; border-spacing:0px; border-padding:0px; border-color:#000000;}
.add_row TBODY TR TD {padding:0px; border-left:1px; border-top:0px; border-bottom:0px; border-right:0px; border-color:#000000;}
.no_payer {background-color:#FFBBBB;}
.half_payer {background-color:#FFBBBB;}
.input_num {text-align:right;}
